<input [formControl]="control" />
<!-- <ng-container *ngIf=
      "cardForm.controls.name.dirty &&
      cardForm.controls.name.touched &&
      cardForm.controls.name.errors">
  <div class="errors" *ngIf="cardForm.controls.name.errors.required">
    Value is valid.
  </div>
  <div class="errors" *ngIf="cardForm.controls.name.errors.minlength">
    Value is too short. You entered {{ cardForm.controls.name.errors.minlength.actualLength }}
    but you need to enter at least {{ cardForm.controls.name.errors.minlength.requiredLength }}
  </div>
</ng-container> -->
